<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>


#<IfModule mod_headers.c>
#    SetEnvIf Origin "http(s)?://(www\.)?(192.168.0.132:5000)$" AccessControlAllowOrigin=$0
#    Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
#    Header set Access-Control-Allow-Origin "http://auth0-login--dashboard-bassetgold.netlify.com"
#    Header add Access-Control-Allow-Origin http://dashboard.bassetgold.co.uk
#    Header add Access-Control-Allow-Origin http://localhost:4200
#    Header set Access-Control-Allow-Credentials true
#    Header add Access-Control-Allow-Headers "Authorization, Origin, X-Requested-With, Content-Type, Accept"
#    Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
#</IfModule>

